@namespace blazor_dashboard

<h1>Player Info</h1>

@if (_ourPlayer != null)
{
	<ul>
		<li><b>Player Name:</b> @_ourPlayer.SteamName</li>
		<li><b>Steam ID:</b> @_ourPlayer.SteamID</li>
		<li><b>Play Time:</b> @_ourPlayer.GetFormattedPlayTime()</li>
		<li><b>Is Banned:</b> @_ourPlayer.IsBanned</li>
		<li><b>Last Known IPv4:</b> @_ourPlayer.LastKnownIPv4</li>
	</ul>

	<button @onclick="@(() => BanPlayer())">Ban Player</button>
}

@code {
	[Parameter]
	public long? PlayerSteamID { get; set; }

	private Player? _ourPlayer;

	protected override void OnParametersSet()
	{
		_ourPlayer = PretendDatabase.GetPlayers().SingleOrDefault(x => x.SteamID == PlayerSteamID);
	}

	private void BanPlayer()
	{
		if (_ourPlayer?.IsBanned ?? true)
			return;

		_ourPlayer.IsBanned = true;
		PretendDatabase.UpsertPlayer(_ourPlayer);
		LoggingHelpers.LogEvent($"User with Steam ID {_ourPlayer.SteamID} was banned");
	}
}
